 <div class="user-details">
  <h1> ABOUT ME </h1>
  <p> {{site.user_description}} </p>
  <p>Hello! Lemme introduce ma name is Fithratul Husna. You can call me "Fithra". Iam Student of Information System at State Islamic University of Sultan Syarif Kasim Riau or in Indonesian language called UIN SUSKA RIAU </p>
</div>
<div class="user">
    <div class="tech">
      <i class="icon fa fa-envelope"></i>
      <i class="icon fa fa-twitter" aria-hidden="true"></i>
      <i class="icon fa fa-github-alt" aria-hidden="true"></i>
          </div>
