<div class="user-details">
  <h1> COLLEGE </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="uin" src="{{ "/assets/img/uin.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> UIN SUSKA RIAU </h3>
    <ul>
      <li> Check it out!</li>
    </ul>
    <p>The State Islamic University of Sultan Syarif Kasim (UIN Suska) Riau in Arabic is جامعة السلطان شريف قاسم الإسلامية الحكومية رياو and in English is the State Islamic University of Sultan Syarif Kasim Riau is the result of the development / improvement of educational status of the State Islamic Institute (IAIN) Sulthan Syarif Qasim Pekanbaru officially confirmed on January 4, 2005 and inaugurated on February 9, 2005 by the President of the Republic of Indonesia, Dr. H. Susilo Bambang Yudhoyono. Sulthan Syarif Qasim Institute of Islamic Studies (IAIN Susqa) Pekanbaru as the forerunner of UIN Suska Riau, was established on September 19, 1970. IAIN Susqa originally came from several Faculties of Private Islamic Higher Education which was then declared, the Faculty of Tarbiyah Islamic University Riau in Pekanbaru, Sharia Faculty of Islamic University of Riau in Tembilahan, and Faculty of Ushuluddin Grand Mosque of An-Nur Pekanbaru.</p>
    <a class="project-link" href="https://uin-suska.ac.id">Uin Suska Riau</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="fst" src="{{ "/assets/img/fst.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> INFORMATION SYSTEM </h3>
    <ul>
      <li> Check it out!</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://sif.uin-suska.ac.id">Information System</a>
  </div>
</div>
